{% extends 'base.html' %}


{% block content %}
  <h1>{{ user }}</h1>
  <hr>
  <h2 class="fs-3">Редактирование</h2>

  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputName4" class="form-label">Имя</label>
      <input type="text" class="form-control" id="inputName4">
    </div>
    <div class="col-md-6">
      <label for="inputSurname4" class="form-label">Фамилия</label>
      <input type="text" class="form-control" id="inputSurname4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Дата рождения</label>
      <input type="date" class="form-control" id="inputAddress" placeholder="Адрес">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Адрес</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Адрес">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
  </form>
{% endblock %}