{% extends 'base.html' %}


{% block content %}
  <h1>Частота Своевременных Сообщений</h1>
  <hr>

  <ul class="mt-4 list-group" style="max-width: 300px;">
    <li class="list-group-item bg-dark text-light"><a class="text-decoration-none" href="">Профиль</a></li>
    <li class="list-group-item bg-dark text-light"><a class="text-decoration-none" href="">Редактировать профиль</a></li>
    <li class="list-group-item bg-dark text-light"><a class="text-decoration-none" href="">Друзья</a></li>
    <li class="list-group-item bg-dark text-light"><a class="text-decoration-none" href="">Люди</a></li>
  </ul>
{% endblock %}