{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>{{ profile_user.username }}</h1>
  <hr>

  <div class="row mb-3">
    <div class="col-md-3">
      <div class="square">
        {% if profile_user.userprofile.profile_picture %}
          <img src="{{ profile_user.userprofile.profile_picture.url }}" class="img-fluid rounded-4" alt="Изображение профиля">
        {% else %}
          <img src="{% static 'img/default_profile_picture.png' %}" class="img-fluid rounded-4" alt="Стандартное изображение профиля">
        {% endif %}
      </div>
    </div>
    <div class="col-md-9">
      <p class="fs-4 fw-bold my-1"><span class="text-primary">ФИО:</span> <span class="{% if profile_user.userprofile.full_name %} text-light {% else %} text-danger {% endif %}">{{ profile_user.userprofile.full_name|default:"отсутствует" }}</span></p>
      <p class="fs-4 fw-bold my-1"><span class="text-primary">Дата рождения:</span> <span class="{% if profile_user.userprofile.birth_date %} text-light {% else %} text-danger {% endif %}">{{ profile_user.userprofile.birth_date|date:"d E Y"|default:"отсутствует" }}</span></p>
      <p class="fs-4 fw-bold my-1"><span class="text-primary">Адрес:</span> <span class="{% if profile_user.userprofile.address %} text-light {% else %} text-danger {% endif %}">{{ profile_user.userprofile.address|default:"отсутствует" }}</span></p>
      <p class="fs-4 fw-bold my-1"><span class="text-primary">О себе:</span> <span class="{% if profile_user.userprofile.bio %} text-light {% else %} text-danger {% endif %}">{{ profile_user.userprofile.bio|default:"отсутствует" }}</span></p>
      <p class="fs-4 fw-bold my-1">Друзья: 
        {% if friends %}
          {% for friend in friends %}
            <a href="{% url 'profile' friend.user.username %}">{{ friend.user.username }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        {% else %}
          <span class="text-danger">Нет друзей</span>
        {% endif %}
      </p>
      {% if user == profile_user %}
        <div class="col-12 mt-4">
          <p><a class="btn btn-primary text-decoration-none" href="{% url 'edit_profile' %}">Редактировать</a></p>
        </div>
      {% else %}
        <div class="">
          <a href="{% url 'add_friend' profile_user.username %}" class="btn btn-primary mt-3">Добавить в друзья</a>
          <a href="{% url 'send_message' profile_user.username %}" class="btn btn-secondary mt-3">Написать сообщение</a>
        </div>
      {% endif %}
    </div>
  </div>

  <hr>
  <h2>Микроблог</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <textarea name="content" class="form-control" rows="3" placeholder="Что у вас нового?"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Опубликовать</button>
  </form>
  <hr>
  <div class="posts">
    {% for post in posts %}
      <div class="post mb-3">
        <p>{{ post.content }}</p>
        <small class="text-muted">{{ post.timestamp|date:"d E Y H:i" }}</small>
      </div>
    {% endfor %}
  </div>
{% endblock %}
