.main-ul-item {
    letter-spacing: 3px;
}

.main-ul-item a {
    color: #f8f9fa;
}

.main-ul-item a:hover {
    color: rgb(13, 110, 253);
}


.people-ul-item {
    letter-spacing: 3px;
}

.people-ul-item a {
    color: rgb(13, 110, 253);
}

.people-ul-item a:hover {
    /* color: #f8f9fa; */
}

